.topbar {
   position: sticky;
   top: 0;
   z-index: 100;
   background-color: Bisque;
}
.topbar-spacer {
   position: sticky;
   top: 0;
   z-index: 99;
   background-color: Bisque;
   height: 2.5em;
}

.topbar-logo {
  display: inline-block;
  vertical-align:middle;
}

.topbar a {
  padding: 3px;
}

.topbar a:hover {
  text-decoration: none;
  border-style: outset;
  background-color: Beige;

}

.topbar-nav-container {
    float: left;
    padding: 10px;
    width: 100%;
}
.topbar-tools-container {
    float: right;
    padding: 7px;
}

.topbar-default-hidden {
  display:none;
}

.topbar-right {
  float:right;
}


/*****************************************************************/
 /* Dropdown Button */
/*
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
*/

/* Dropdown button on hover & focus */
/*
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}
*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background: border-box beige;
  min-width: 50vw;
  height: 50vh;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  z-index: 1;
  overflow-y: auto;
}

/* Links inside the dropdown */
.dropdown-content li {
  width: 100%;
}
.dropdown-content a {
/*
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
*/
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
/*
  background-color: #ddd;
*/
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.dropdown-show {
  display:block;
}

.dropdown-topbar {
   position: sticky;
   top: 0;
   z-index: 100;
   background-color:Beige;
}

.dropdown-topbar-right {
  float:right;
}


/*****************************************************************/
