<!DOCTYPE html>
<html lang="en">
<head>
  <?php include($PicoWiki->config['app_dir'].'/backend/templates/html_head.html'); ?>
  <?php
    $upload_path=dirname($PicoWiki->url);
    if ($upload_path == '.') $upload_path = '';
    $upload_path = $PicoWiki->mkUrl($upload_path);
  ?>
</head>
<body>
  <?php include($PicoWiki->config['app_dir'].'/backend/templates/_header.html'); ?>

  <div id="main" class="main">
    <h2>File Not Found</h2>
    <p>Go <a href="<?= $PicoWiki->mkUrl()?>">Home</a></p>
    <?php if ($PicoWiki->isWritable($file_path)) { ?>
      <hr>
      <p>
	Do you want to upload a new file?
      </p>
      <form method="post" enctype="multipart/form-data" action="<?=$upload_path?>">
	<p>Select file to upload:</p>
	<p><input type="file" name="fileToUpload" id="fileToUpload"></p>
	<p><input type="submit" value="Upload File" name="attach"></p>
	</p>
	<input type="hidden" name="action" value="attach">
      </form>
    <?php } ?>
  </div>

  <?php include($PicoWiki->config['app_dir'].'/backend/templates/_footer.html'); ?>
</body>
</html>
