<!-- body header -->
<div class="topbar">
  <div class="topbar-nav-container">
    <?= $PicoWiki->renderTools() ?>
  </div>
</div>
<div class="topbar-spacer">&nbsp;</div>
<div>
<h1><?= htmlspecialchars($PicoWiki->meta['title']) ?></h1>
</div>
<?php
  if (isset($PicoWiki->meta['file-path']) && basename($PicoWiki->meta['file-path']) == $PicoWiki->config['default_doc']) {
    if (isset($_GET['tools']) && $_GET['tools']) {
      echo '<a href="'.$PicoWiki->mkUrl($PicoWiki->url).'">';
      echo 'Switch to Document View';
      echo '</a>';
    } else {
      echo '<a href="'.$PicoWiki->mkUrl($PicoWiki->url).'?tools=1">';
      echo 'Switch to Folder View';
      echo '</a>';
    }
  } else {
    if (!is_dir($PicoWiki->config['file_path'].'/'.$PicoWiki->url)) {
      $d = dirname($PicoWiki->url);
      $tools = file_exists($PicoWiki->config['file_path'].'/'.$d.'/'.$PicoWiki->config['default_doc']) ?
		'?tools=1' : '';
      echo '<a href="'.$PicoWiki->mkUrl($d).$tools.'">';
      echo 'View Folder';
      echo '</a>';
    }
  }
?>
<hr/>

<?=$PicoWiki->jsCode('static/topbar.js?x=18')?>
